.images img, #largeImg  {
	border:2px solid #857979;
	padding:2px;
	background-color:#ffffff;
	border-radius:4px;
	box-shadow:1px 1px 1px #979797;
	margin-bottom:0;
}

#image-container {
	border:2px solid #ffefde;
	border-radius:6px;
	box-shadow:1px 1px 1px 1px #251e1e;
	background-color:#fff8e9;
	margin:15px 3px 3px 3px;
	padding:3px;
}
#prev-next {
	text-align:center;
	font-family:"Arial Black", Gadget, sans-serif;
	text-shadow:1px 1px 1px #717070;	
	letter-spacing:2px;
	margin-bottom:5px;
}
#prev {
    margin-right:40%;
}
#next {
    margin-left:40%;
}
#prev, #next {
	margin-top:0;
}
#prev:hover, #next:hover {
	color:#33514a;
	cursor:pointer;
}


